%% Cache store way 
%%{cache_module, 'store_memcached'}.    %% default is ets.Support redis, memcached, mysql and normal file
{cache_module, 'store_ets'}.    %% default is ets.Support redis, memcached, mysql and normal file
%%{cache_module, 'store_redis'}.    %% default is ets.Support redis, memcached, mysql and normal file


%% redis default settings 
{redis_poolsize, 10}.
{redis_port, 6379}.
{redis_server, "localhost"}.

%% memcached default settings
{memcached_poolsize, 10}.
{memcached_port, 11211}.
{memcached_server, "localhost"}.


%% etcd url
{etcd_url, "http://192.168.59.103:4001"}.
