[
%% SASL config
  {sasl, [
    {sasl_error_logger, {file, "log/sasl-error.log"}},
      {errlog_type, error},
      {error_logger_mf_dir, "log/sasl"},      % Log directory
    {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
    {error_logger_mf_maxfiles, 5}           % 5 files max
    ]},
  {lager, [
    {handlers, [
      {lager_console_backend, debug},
      {lager_file_backend, [{file, "error.log"}, {level, error}]},
      {lager_file_backend, [{file, "console.log"}, {level, info}]}
      ]}  
    ]},
  {cache, [
    {cache_module, {{cache_module}} },
  
    %% Redis config
    {redis_poolsize, {{redis_poolsize}} },
    {redis_port, {{redis_port}} },
    {redis_server, "{{redis_server}}" },

    %% Memcached config
    {memcached_poolsize, {{memcached_poolsize}} },
    {memcached_port, {{memcached_port}} },
    {memcached_server, "{{memcached_server}}" }
  
    ]},
  {etcdq, [
    ]
  },
  {etcd, [
    {etcd_url, "{{etcd_url}}" }
    ]
  }
].

